<% if user_signed_in? %>
#show them something

<% else %>

<h1>Welcome to One Month Rails</h1>

<p>
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>

<% end %>
